<div id="demo-container" class="container-fluid">
  <br>
  <h2>{{title}}</h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <button class="btn btn-outline-secondary btn-sm" (click)="clearGridStateFromLocalStorage()">
    <i class="fa fa-times"></i>
    Отчистка всех фильтров и перезагрузка таблицы.
  </button>
  <br>
  <br>

  <!--<angular-slickgrid gridId="grid16"-->
                     <!--[columnDefinitions]="columnDefinitions"-->
                     <!--[gridOptions]="gridOptions"-->
                     <!--[dataset]="dataset"-->
                     <!--(onAngularGridCreated)="angularGridReady($event)"-->
                     <!--(onGridStateChanged)="gridStateChanged($event)"-->
                     <!--(onBeforeGridDestroy)="saveCurrentGridState($event)">-->
  <!--</angular-slickgrid>-->

  <angular-slickgrid gridId="grid16"
                     [columnDefinitions]="columnDefinitions"
                     [gridOptions]="gridOptions"
                     [dataset]="dataset"
                     (onAngularGridCreated)="angularGridReady($event)"
                     (onGridStateChanged)="gridStateChanged($event)"
                     (onBeforeGridDestroy)="saveCurrentGridState($event)">
  </angular-slickgrid>
</div>
